<div class="main">
<div class="left">
<div class="search">
  <ion-icon name="search-outline"></ion-icon><input type="text" placeholder="Search" />
</div>

<h1>
  Dashboard
</h1>

<div class="task">
  <div class="title">
    <ul>
      <li class="active">New task</li>
      <li>Task List</li>
      <li>Timeline</li>
      <li>Progress</li>
      <li>Form</li>
      <li>More...</li>
    </ul>
  </div>
  <div class="card">
    <div>
      <img style="width: 130px;" src="../../../assets/image/website.jpg" alt="">
      <h5>Klawuarc Website</h5>
      <h6>Landing Page</h6>
    </div>
    <div>
      <img src="../../../assets/image/nike.jpg" alt="">
      <h5>Nike Le Bron</h5>
      <h6>Landing Page</h6>
    </div>
    <div>
      <img src="../../../assets/image/landscape.jpg" alt="">
      <h5>Molly Moreas</h5>
      <h6>Photo Shoot</h6>
    </div>
    
  </div>
</div>

<div class="orange-list">
  <ul>
    <li class="list1">
      <span><ion-icon name="person-circle"></ion-icon></span>
      <span id="name">Clients</span>
      <span>438</span>
    </li>
    <li class="list2">
      <span><ion-icon name="checkmark-circle"></ion-icon></span>
      <span id="name">Current Task</span>
      <span>318</span>
    </li>
    <li class="list3">
      <span><ion-icon name="sync"></ion-icon></span>
      <span id="name">Projects in negotiations</span>
      <span>21</span>
    </li>
  </ul>
</div>

<div class="schedule">
  <div class="header"> <span><ion-icon name="calendar"></ion-icon></span> <strong>Project Schedule</strong> </div>
</div>
</div>



<div class="right">
  <div class="date">
    <span>December 11 - 2020</span> <span><ion-icon name="options"></ion-icon></span>
  </div>

  <div class="avatar">
    <div class="top">
      <img src="../../../assets/avatar/avatar1.jpg" alt="">
      <h5>Molly Moreas</h5>
    </div>
    <div class="bottom">
      <img src="../../../assets/avatar/avatar2.jpg" alt="">
      <img src="../../../assets/avatar/avatar3.jpg" alt="">
      <img src="../../../assets/avatar/avatar4.jpg" alt="">
      <img src="../../../assets/avatar/avatar5.jpg" alt="">
      <img src="../../../assets/avatar/avatar6.jpg" alt="">
    </div>
  </div>

  

  <div class="task-perfo">
    <h2> Task Complete </h2>

    <div class="barrating">
    <div class="container">
      <div class="bar first"></div>
    </div>
    <div class="container">
      <div class="bar second"></div>
    </div>
    <div class="container">
      <div class="bar third"></div>
    </div>
    <div class="container">
      <div class="bar fourth"></div>
    </div>
    <div class="container">
      <div class="bar fifth"></div>
    </div>
    <div class="container">
      <div class="bar sixth"></div>
    </div>
  </div>
  <div class="rating">
    <span>4</span>
    <span>2</span>
    <span>7</span>
    <span>5</span>
    <span>8</span>
    <span>9</span>
  </div>

  </div>

  
</div>

</div>

